{% extends 'base_course.html' %}

{% block subtitle %}
  {# I18N: Title of the webpage. #}
  - {{ gettext('Gatherings') }}
{% endblock subtitle %}

{% block assets %}
  {{ super() }}
  <link rel="stylesheet"
        href="//fonts.googleapis.com/icon?family=Material+Icons">
{% endblock %}

{% block top_content %}
{% endblock %}

{% block main_content %}
<script>
  function joinGathering(gid, btn) {
    console.log('joining G');
    mutateGatheringParticipation('join', gid, btn, function() {
      console.log($('#leave_'+ gid));
      $('#leave_'+ gid).show();
      $('#vc_'+ gid).show();
    });

  }
  function leaveGathering(gid, btn) {
    mutateGatheringParticipation('leave', gid, btn, function() {
      console.log($('join_'+ gid));
      $('#join_'+ gid).show();
      $('#vc_'+ gid).hide();
    });
  }
  function mutateGatheringParticipation(action, gid, btn, cb) {
    $.ajax({
      // TODO (chaks): Dehardcode this URL
      url: "rest/gatherings/item",
      type: "POST",
      data: {key: gid, action: action},
      dataType: "text",
      success: function(data) {
        $(btn).hide();
        cb();
      }
    });
  }
</script>
<div id="gcb-main">
  <div class="gcb-gathering">
    <div class="gcb-aside">
      {% if gatherings %}
        {% if gatherings.add_action %}
          <form id='gcb-add-gathering'
                action='{{ gatherings.add_action }}'
                method='POST'>
            <input type="hidden"
                   name="xsrf_token"
                   value="{{ gatherings.add_xsrf_token }}">
            <button class="gcb-button gcb-button-action gcb-button-author"
                    type="submit">Add Gathering</button>
          </form>
          <div style='clear: both; padding-top: 2px;' />
        {% endif %}
        {% if not gatherings.children %}
          {# I18N: Shown if the list of gatherings is empty. #}
          {# TODO (chaks): Change the class #}
          <p class="gcb-announcement-content">
            {{ gettext('Currently, there are no gatherings.') }}
          </p>
        {% endif %}
        {% for item in gatherings.children %}
          <div
            {% if item.status == 'past' %}
              class="gcb-past-gathering"
            {% endif %}>
            <hr>
            <h2>
              <a name='{{ item.key }}'></a>
              {# TODO (chaks): Change the class #}
              <span class="gcb-announcement-title">
                {{ item.title }}
                {% if item.is_draft %}(Private){% endif %}

              </span>
              {% if item.edit_action %}
                <a href="{{ item.edit_action }}"
                   class="gcb-edit-resource-button icon material-icons">edit</a>
              {% endif %}
            </h2>
            <p>
              <em>{{item.start_time}} - {{item.end_time}}</em>
              <span
                class="gcb-gathering-status gcb-gathering-status-{{item.status}}">
                {{item.status|title}}
              </span>
            </p>

            {# TODO (chaks): Change the class #}
            <p class="gcb-announcement-content" "margin: 20px 0px;">
              {{ item.html | gcb_tags }}
            </p>
            <p>
              <button
                id="join_{{item.key}}"
                {% if item.status == 'past' %}disabled{% endif %}
                onclick="joinGathering('{{item.key}}', this)"
                class="gcb-button gcb-button-author"
                {% if item.joined %} style="display: none;"{% endif %}>
                Join
              </button>
              <button
                id="leave_{{item.key}}"
                {% if item.status == 'past' %}disabled{% endif %}
                onclick="leaveGathering('{{item.key}}', this)"
                class="gcb-button"
                {% if not item.joined %} style="display: none;"{% endif %}>
                Leave
              </button>
              <a
                id="vc_{{item.key}}"
                {% if not item.joined %} style="display: none;"{% endif %}
                href="{{item.vc_url}}"
                target="_blank">
                <button
                  {% if not item.vc_url %}disabled{% endif %}
                  title="Click here to participate"
                  class="gcb-button gcb-button-author">
                  {% if item.status == 'past' %}
                    Archived Video Conference Link
                  {% elif item.status == 'ongoing'%}
                    Go to Video Conference
                  {% else %}
                    Video Conference Link Comming Soon
                  {% endif %}
                </button>
              </a>
            </p>
          </div>
        {% endfor %}
      {% else %}
        {{ content }}
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
