{% extends 'base_course.html' %}

{% block subtitle %}
  {# I18N: Title of the webpage. #}
  - {{ gettext('Gatherings') }}
{% endblock subtitle %}

{% block assets %}
  {{ super() }}
  <link rel="stylesheet"
        href="//fonts.googleapis.com/icon?family=Material+Icons">
{% endblock %}

{% block top_content %}
{% endblock %}

{% block main_content %}
<script>
  function joinGathering(gid, btn) {
    setTimeout(function() {
      btn.innerText = 'Joined'
      btn.disabled = true;
    }, 1000);
  }
</script>
<div id="gcb-main">
  <div class="gcb-article tab-content">
    <div class="gcb-aside">
      {% if gatherings %}
        {% if gatherings.add_action %}
          <form id='gcb-add-gathering'
                action='{{ gatherings.add_action }}'
                method='POST'>
            <input type="hidden"
                   name="xsrf_token"
                   value="{{ gatherings.add_xsrf_token }}">
            <button class="gcb-button gcb-button-action gcb-button-author"
                    type="submit">Add Gathering</button>
          </form>
          <div style='clear: both; padding-top: 2px;' />
        {% endif %}
        {% if not gatherings.children %}
          {# I18N: Shown if the list of gatherings is empty. #}
          {# TODO (chaks): Change the class #}
          <p class="gcb-announcement-content">
            {{ gettext('Currently, there are no gatherings.') }}
          </p>
        {% endif %}
        {% for item in gatherings.children %}
          <hr>
          <h2>
            <a name='{{ item.key }}'></a>
            {# TODO (chaks): Change the class #}
            <span class="gcb-announcement-title">
              {{ item.title }}
              {% if item.is_draft %}(Private){% endif %}
            </span>
            {% if item.edit_action %}
              <a href="{{ item.edit_action }}"
                 class="gcb-edit-resource-button icon material-icons">edit</a>
            {% endif %}
          </h2>
          <p>Start Time: {{item.start_time}}</p>
          <p>End Time: {{item.end_time}}</p>
          <p class="gcb-announcement-content" "margin: 20px 0px;">
            <button
              onclick="joinGathering('{{item.key}}', this)"
              class="gcb-button gcb-button-author"
              {% if item.joined %}disabled{% endif %}>
              {% if item.joined %}Joined {% else %} Join {% endif %}
            </button>
          </p>
          {# TODO (chaks): Change the class #}
          <p class="gcb-announcement-content" "margin: 20px 0px;">
            {{ item.html | gcb_tags }}
          </p>
        {% endfor %}
      {% else %}
        {{ content }}
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
